<html>
    <head>
        <title>Блог Зульфии</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>

    <body>
            <div>
                <h1><a href="">ZG Blog</a></h1>
            </div>

            <div>
                <p>published: 29.05.2016, 18:00</p>
                <h2><a href="">1й пост, опубликованный мной в интернете в виде блога</a></h2>
                <p>Бла-бла-бла.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">и нифига не второй пост</a></h2>
                <p>Привееет!! ))))).</p>
            </div>
        </body>
    </html>
Мы создали три div элемента
